.container
  .row.justify-content-center
    .col-lg-5.col-md-6
      %h2.text-center.header= t('.resend_confirmation_instructions')
      = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        .form-group
          = f.input :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), input_html: { class: 'form-control' }
        .actions
          = f.submit t('.resend_confirmation_instructions') , class: 'btn btn-outline-info btn-size'
      = render 'devise/shared/links'
