.container
  .row
    #comments.comments.col-md-9
      %h3.mb-2= t('.title')
  - @comments.each do |comment|
    .comment.mb-2.row
      .comment-avatar.col-md-1.col-sm-2.text-center.pr-1
        = image_tag 'face.jpg', class: 'img mx-auto rounded-circle img-fluid', alt: 'news photo'
      .comment-content.col-md-11.col-sm-10
        %h6.small.comment-meta
          %strong= user_full_name(comment)
          = time_ago_in_words(comment.created_at) + ' ' + t('.commented')
          %p
          .comment-body= comment.body
          %br/
          - if user_allowed_to_manage(comment)
            = link_to t('.edit'), edit_polymorphic_path([@commentable, comment]) ,class: 'btn btn-outline-info'
            = link_to t('.delete'), polymorphic_path([@commentable, comment]), method: :delete, data: { confirm: t('.are_you_sure?') }, class: 'btn btn-outline-info'
          %br/