.container
  .row.justify-content-center
    .col-lg-5.col-md-6
      %h2.header= t('.edit_user')
      -# = simple_form_for(@user, url: "/users/#{@user.id}/edit") do |f|
      = simple_form_for(@user) do |f|
        = f.input :email, label: 'Email', autofocus: true, autocomplete: 'email', input_html: { class: 'form-control' }, placeholder: 'example@mail.com', required: true
        = f.input :name, label: t('users.new.name')
        = f.input :surname, label: t('users.new.surname'), input_html: { class: 'form-control', minlength: 3, maxlength: 30 }
        = f.input :role, label: t('users.new.role') do
          %br/
          = f.select :roles, all_roles, include_blank: true, selected: role_to_select(@user)
        -# = f.association :roles, as: :radio_buttons, label: t('users.new.role'), include_blank: true
        -# = f.simple_fields_for :roles, label: t('users.new.role') do |roles_form|
        -#   = roles_form.collection_radio_buttons :role_ids, Role.all, :id, :name, include_blank: true
        = f.label :password, required: true
        %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
        = f.input :password, autocomplete: 'off', input_html: { class: 'form-control', minlength: 6 }, label: false, required: true
        = f.submit t('.update'), class: 'btn btn-outline-info btn-size'
      = link_to t('.delete'), user_path(@user), method: :delete,
                                              data: { confirm: t('users.index.confirm_message') + " <b>\"#{@user.email}\"</b> ?",
                                                        title: t('users.index.deleting_user'),
                                                       commit: t('users.index.submit'),
                                                       cancel: t('users.index.cancel')},
                                              class: 'btn btn-outline-danger'
      %hr/
      = link_to t('users.show.back'), :back, class: 'btn btn-outline-secondary'
