.row
  .col-sm-6
    %h2
      = t('.users_list')
  .col-sm-6.text-right
    = link_to t('users.new.create_user'), new_user_path, class: 'btn btn-outline-success create-btn'
%table.table.table-striped.users-list
  %thead
    %tr.info
      %th ID
      %th
        = t('users.new.name')
      %th
        = t('users.new.surname')
      %th Email
      %th
        = t('.confirmation')
      %th
        = t('users.new.role')
      %th
        = t('.action')
  %tbody
    - @users.each do |u|
      %tr
        %td= u.id
        %td= u.name
        %td= u.surname
        %td= u.email
        %td
          %span{ class: confirmed?(u) ? "green" : "red" }
        %td= show_user_role(u)
        %td
          = link_to t('.view'), user_path(u), class: 'btn btn-outline-info'
          = link_to t('.edit'), edit_user_path(u), class: 'btn btn-outline-warning'
          = link_to t('.delete'), user_path(u), method: :delete,
                                                  data: { confirm: t('.confirm_message') + " <b>\"#{u.email}\"</b> ?",
                                                            title: t('.deleting_user'),
                                                           commit: t('.submit'),
                                                           cancel: t('.cancel')},
                                                  class: 'btn btn-outline-danger'
