.container
  .row.justify-content-center
    .col-lg-5.col-md-6
      %h2.header= t('.create_user')
      = simple_form_for(@user, url: 'new', defaults: { input_html: { class: 'form-control' } } ) do |f|
        = f.input :email, label: 'Email', autofocus: true, autocomplete: 'email', placeholder: 'example@mail.com', required: true
        = f.input :name, label: t('.name')
        = f.input :surname, label: t('.surname'), input_html: { minlength: 3, maxlength: 30 }
        = f.input :role, label: t('.role') do
          %br/
          = f.select :roles, Role.all.map { |r| r.name }, include_blank: true, addClassName: "sdf"
        -# = f.association :roles, as: :radio_buttons, label: t('.role'), include_blank: true
        = f.label :password, required: true
        %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
        = f.input :password, autocomplete: 'off', input_html: { minlength: 6 }, label: false
        = f.submit t('.create'), class: 'btn btn-outline-info'
      %hr/
      = link_to 'Back', :back, class: 'btn btn-outline-secondary'
