%h1 User info
%hr/
%h3
  %b
    Email:
  = @user.email
%p
  %b
    = t('users.new.name') + ':'
  = @user.name
%p
  %b
    = t('users.new.surname') + ':'
  = @user.surname

%p
  %b
    = t('users.new.role') + ':'
  = show_user_role(@user)
.actions
  = link_to t('users.index.edit'), edit_user_path(@user), class: 'btn btn-outline-warning'
  = link_to t('users.index.delete'), user_path(@user), method: :delete, class: 'btn btn-outline-danger'
%hr/
= link_to t('.back'), :back, class: 'btn btn-outline-secondary'
