.container
  .row.justify-content-center
    .col-lg-5.col-md-6
      %h2.text-center.header= t('.change_your_password')
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, novalidate: false }) do |f|
        = f.hidden_field :reset_password_token
        .form-group
          = f.label :password, t('.new_password')
          %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
          = f.input :password, autofocus: true, autocomplete: 'off', input_html: { class: 'form-control', id: 'password1', minlength: 6 }, label: false
        .form-group
          = f.input :password_confirmation, label: t('.confirm_new_password'), autocomplete: 'off', input_html: { class: 'form-control', id: 'password2' }
        .actions
          = f.submit t('.change_my_password'), class: 'btn btn-outline-info btn-size'
      = render 'devise/shared/links'
