.container
  .row.justify-content-center
    .col-lg-5.col-md-6
      %h2.text-center.header= t('.forgot_your_password')
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        .form-group
          = f.input :email, autofocus: true, autocomplete: 'email', input_html: { class: 'form-control' }
        .actions
          = f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-outline-info btn-size'
      = render 'devise/shared/links'
