.wrapper
  = image_tag 'prodobro1.png', class: 'logo'
  .header
    = image_tag 'edit.png', class: 'icon'
    %h2.title= t('.title')
  %p.greeting= t('.greeting', recipient: @resource.email)
  %p= t('.instruction')
  %button
    = link_to t('.action'), edit_password_url(@resource, reset_password_token: @token), class: 'link'
  %p= t('.instruction_2')
  %p= t('.instruction_3')
